{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="starter-template">
        <h1>NOTAM location by ICAO codes</h1>
        <p>Applocation Locates NOTAM info for provided ICAO code & displays it on Google Map</p>
        <p>Build with <a href="http://silex.sensiolabs.org/">Silex framework</a> & uses <a href="http://www.rocketroute.com/developers/">RocketRoute API</a></p>
    </div>
</div>
{% endblock %}