{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1><a href="mailto:zhunik@gmail.com">Yurii Zhunkivskyi</a></h1>
            <p><a href="https://github.com/zhunik/rocket-test">Fork me</a></p>
        </div>
    </div>
{% endblock %}