<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="NOTAM locator for ICAO codes with RocketRoute API">
<meta name="author" content="Yura Zhunkivskyi <zhunik@gmail.com>">
<link rel="shortcut icon" href="/images/favicon.png">
<title>NOTAM locator for ICAO</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />

