{% extends "layout.html" %}


{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>NOTAM location by ICAO codes</h1>
            <form id="icaoForm" method="post" class="form-inline">
                <input type="hidden" name="token" value="{{ token }}">
                <div class="form-group">
                    <label for="icaoCode">ICAO code</label>
                    <input type="text" maxlength="4" minlength="4" pattern="[A-Z]{4}" class="form-control" id="icaoCode" name="icao" placeholder="ICAO" required>
                </div>
                <button type="submit" class="btn btn-primary">Locate NOTAM</button>
            </form>
        </div>
        <div id="map"></div>
    </div>
{% endblock %}